engine-strict=true
shamefully-hoist=true
confirm-modules-purge=false
only-built-dependencies=core-js,@parcel/watcher,@prisma/client,@prisma/engines,esbuild,prisma,unrs-resolver,@shopify/shopify_function
